<div class="nav-banner">
  <div class="site-logo">
    <img src="../images/sun.svg" alt="sun">
    <h1>MINDFULNESS</h1>
  </div>
  <div class="desktopView">
    <div class="links">
      <a href="#">Home</a>
      <a href="#">Page 2</a>
      <a href="#">Page 3</a>
      <a href="#">Page 4</a>
    </div>
    <div class="login">
      <a>Log In</a>
    </div>
  </div>

  <div class="mobileView">

    <button id="menuButton" class="hamburger-menu">☰</button>

    <div id="slidingMenu" class="sliding-menu">
      <button id="closeButton" class="close-button">✖</button>
      <h2>Menu</h2>
      <ul>
        <li><a href="../../index.html">Dashboard</a></li>
        <li><a href="../../journal/index.html">Journal</a></li>
        <li><a href="../../breathing/index.html">Breathing Activity</a></li>
        <li><a href="../../reflection/index.html">Reflection Activity</a></li>
        <li><a href="../../listing/index.html">Listing Activity</a></li>
        <li><button>Log Out</button></li>
      </ul>
    </div>
  </div>

</div>
